<div class="container-fluid">
    <nav class="navbar navbar-dark ">
        <a asp-controller="Case" asp-action="Index">
            <img src="~/img/easecom.png" class="img" width="140" height="auto" />
        </a>
        <div class="activeUser">
            <i class="fa fa-user-circle-o fa-lg" style="color:#FFB73A;" aria-hidden="true"></i><h6 class="userName">@User.Identity.Name</h6>
        </div>
    </nav>
</div>