@model AccountCreateVM
@{ViewBag.Title = "Create Account";}
<div class="container-fluid">
    <nav class="navbar navbar-dark ">
        <a asp-controller="Case" asp-action="Index">
            <img src="~/img/easecom.png" class="img" width="140" height="auto" />
        </a>
    </nav>
</div>
<div class="loginBox">
    <div class="box">
        <h2 align="center">Create Account</h2>
        <form align="center" asp-controller="Account" asp-action="CreateAccount">
            <label class="label" asp-for="Username"></label>
            <br />
            <input asp-for="Username" />
            <span asp-validation-for="Username"></span>
            <br />
            <label class="label" asp-for="Password"></label>
            <br />
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
            <br />
            <button type="submit" id="smallButton" class="btn" style="margin: 10px">Create</button>
            <br />
        </form>
    </div>
</div>