@model CaseDetailsVM
@{ ViewBag.Title = "Case";}

<h3 align="center" style="color:white">@Model.Headline</h3>
<h4 align="center" style="color:white">Skapat av: @Model.Creator</h4>
<p align="center" style="color:white">@Model.Description</p>




