@model CaseDetailsVM
@{ ViewBag.Title = "Case";}

<div class="box">
    <h3 align="center" style="color:white">@Model.Headline</h3>
    <h4 align="center" style="color:white">Skapat av: @Model.Creator</h4>
    <div class="row justify-content-end" id="createrow">
        <div class="col-md-6 col-sm-12">
            <a asp-controller="Case" asp-action="Edit">

                <div class="btn btn-info" style="float:right">
                    <h7 class="card-title" style="font-weight: bold;">Edit</h7>
                </div>

            </a>
            <a asp-controller="Case" asp-action="Delete">

                <div class="btn btn-danger"style="float:right">
                    <h7 class="card-title" style="font-weight: bold;">Delete</h7>
                </div>


            </a>
        </div>
    </div>
   
    <div class="card-body d-flex align-items-center" style="background-color:#5E5E5E; box-shadow: 1px 3px 10px -1px rgb(27, 27, 27);">
        <p align="center" style="color:white">@Model.Description</p>
    </div>

    <div class="input-group mb-3" id="input">
        <input type="text" class="form-control" placeholder="Text goes here..." aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <span class="input-group-text btn" id="postbtn">Post</span>
        </div>
    </div>

</div>

