@model CaseEditVM
@{ViewBag.title = "Edit Case";}

<div class="box">
    <form asp-controller="Case" asp-action="EditCase" asp->
        <div class="form-group">
            <label for="headline" style="color: white;">Headline</label>
            <input type="text" asp-for="Headline" value="@Model.Headline" class="form-control">
            <input type="text" asp-for="Creator" value="@Model.Creator" class="form-control">
            <input type="text" asp-for="Id" value="@Model.Id" class="form-control">
        </div>
        <div class="form-group">
            <label for="description" style="color: white;">Description</label>
            <input type="text" asp-for="Description" value="@Model.Description" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary" style="background-color: #FFB73A">Submit</button>
    </form>
</div>