@model CaseIndexVM
@{ ViewBag.Title = "Case";}
@{Html.RenderPartial("_HeaderNavBar");}
<div class="box">
    <div class="row" id="createrow">
        <div class="col-md-6 col-sm-12" id="headline">
            <h3 class="caseHeadline" style="color:white">Cases</h3>
        </div>
        <div class="col-md-6 col-sm-12">
            <a asp-controller="Case" asp-action="CreateCase">
                <div class="card m-4" id="yellowButton">
                    <div class="btn">
                        <h7 class="card-title" style="font-weight: bold;">CREATE</h7>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        @foreach (var caseInfo in Model.ItemVMs)
        {
            <div class="col-sm-12 col-md-4" colspan="3" id="casecol">
                <a asp-controller="Case" asp-route-id="@caseInfo.Id" asp-action="Details">
                    <div class="card m-4" id="casecard">
                        <div class="card-body text-center">
                            <p class="card-header" style="font-weight: bold;">@caseInfo.Headline</p>
                            <p class="card-text"> @caseInfo.Description</p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>

</div>

