@model CaseIndexVM
@{ ViewBag.Title = "Case";}

<h3>Case</h3>
@foreach (var caseInfo in Model.ItemVMs)
{
    <button asp-controller="Case" class="btn" asp-route-id="@caseInfo.Id" value="@caseInfo.Headline" ></button>
}