
* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #323232;
    margin-bottom: 50px;
}

.container-fluid {
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

.navbar {
    background-color: #323232;
    box-shadow: 1px 3px 10px -1px rgb(27, 27, 27);
    /*border-style: solid; 
     border-width: 0px 1px 1px 1px; 
     border-color: #FFB73A;*/
    border-radius: 0 0 5px 5px;
    min-height: 50px;
}


.dropdown-menu {
    background-color: #323232;
}

.dropdown-item {
    color: lightgrey;
}

.dropdown-divider {
    background-color: darkgray;
}

.footer {
    background-color: #323232;
    position: absolute;
    height: 50px;
    bottom: 0;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px -3px 10px -1px rgb(27, 27, 27);
    margin: 0;
    padding: 10px;
}

    .footer p {
        color: #FFB73A;
        text-align: center;
        margin: 0 auto;
        padding: 0;
        font-size: small;
    }

img {
    display: inline-block;
}

#logo {
    float: left;
}

#info {
    color: white;
    float: right;
    font-size: 10pt;
}

#createrow {
    padding-left: 24px;
}

.card-body.text-center {
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

#casecard {
    margin: 12px;
    max-width: 100%;
    min-width: 70%;
    overflow: hidden;
    height: 107px;
    background-color: #5E5E5E;
    color: white;
    box-shadow: 1px 6px 10px -1px rgb(27, 27, 27);
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
}

.card-text {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: small;
    padding: 10px;
    max-height: 47px;
    word-wrap: break-word
}

#yellowButton {
    background-color: #FFB73A;
    color: white;
    box-shadow: 1px 6px 10px -1px rgb(27, 27, 27);
    font-weight: bold;
    height: 40px;
    width: 120px;
    float: right;
}


.box {
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 1px 3px 10px -1px rgb(27, 27, 27);
    max-width: 830px;
    margin: 0 auto;
}

#casecol {
    padding: 0px;
}

#headline {
    padding: unset;
}

.caseHeadline {
    margin: auto;
}

.loginBox > .box {
    max-width: 270px;
    min-width: 270px;
}

.btn {
    background-color: #FFB73A;
    color: white;
    font-weight: 400;
    box-shadow: 1px 6px 10px -1px rgb(27, 27, 27);
}

h2 {
    color: #FFB73A;
    font-weight: 500;
}

label {
    color: white;
}

.card-body {
    border-radius: 10px;
}

#feed {
    border-radius: 5px;
    border-style: none;
}

#basic-addon2 {
    background-color: #FFB73A;
    color: white;
}

.field-validation-error {
    color: #fd4805;
}

.activeUser {
    color: #FFB73A;
    font-weight: bold;
    display: inline-block;
    padding-right: 10px;
    margin-bottom: 0px !important;
    text-transform: uppercase;
}
