
* {
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #323232;
    margin-bottom: 50px;
}
.container-fluid{
    padding: 0;
}
html {
    position: relative;
    min-height: 100%;
}

.navbar {
    background-color: #323232;
    box-shadow: 1px 3px 10px -1px rgb(27, 27, 27);
     /*border-style: solid; 
     border-width: 0px 1px 1px 1px; 
     border-color: #FFB73A;*/ 
    border-radius: 0 0 5px 5px;
}


.dropdown-menu {
    background-color: #323232;
}

.dropdown-item {
    color: lightgrey;
}

.dropdown-divider {
    background-color: darkgray;
}

.footer {
    background-color: #323232;
    padding: 30px 30px 30px 30px;
    border-top: 1px solid #FFB73A;
    height: 50px;
}

img {
    display: block;
}

#logo {
    float: left;
}

#info {
    color: white;
    float: right;
    font-size: 10pt;
}

.center {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

#casecard{
    max-width: 100%;
    overflow: hidden;
    height: 112px;
    background-color: #5E5E5E;
    color: white;
    box-shadow: 1px 6px 10px -1px rgb(27, 27, 27);
}
.card-text {
    word-wrap: break-word
}
#yellowButton {
    background-color: #FFB73A;
    color: white;
    box-shadow: 1px 6px 10px -1px rgb(27, 27, 27);
    font-weight: bold;
    margin: 0 auto;
    float: none;
    
}
.box {
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 1px 3px 10px -1px rgb(27, 27, 27);
    max-width: 830px;
    
    margin: 0 auto;
}
#casecol{
    padding: 0px;
}

.caseHeadline{
    margin: auto;
}

.loginBox > .box {
    max-width: 270px;
    min-width: 270px;
}

.btn {
    background-color: #FFB73A;
    color: white;
    font-weight:400;
    box-shadow: 1px 6px 10px -1px rgb(27, 27, 27);
}

 h2 {
    color: #FFB73A;
    font-weight: 500;
}
 label{
     color: white;
 }

 /*.loginBox > .box > .form > .btn{
     display: inline-block;
     width: 190px;
     height: 38px;
     color: red;
 }*/